body
{
    background-color: royalblue;
    font-family: "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6
{
    color:white;

}


h1
{
    background-color:darkkhaki;
    text-align: center;
}


.recipie_list
{
    color:white;
    background-color: transparent;
}

.recipie_list.recipie
{
    color:wheat;
}